<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>administratie tewerkstelling</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" th:inline="javascript"/>



        </head>

<!--<body>-->
<!--<img src="/images/images.png">-->
<!--<h1>Intec Brussel</h1>-->
<!--<h2>administratie tewerkstelling</h2>-->
<!--</body>-->
</html>